<h1>User info</h1>
<!--写真-->
<table>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
  <th><p><%= link_to "edit", edit_user_path(current_user) %></p></th>
</table>

